body {
	font-size: 16px;
	color: solid black;
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
}

.container{
	padding-top: 10px;
}
/*Header*/
.navbar-brand{
	color: black;
	text-decoration: none;
}

.navbar-header{
	border-bottom: 2px solid black;
}

.dropdown{
	position: relative;
	float: right;
}

#sbar{
	position: relative;
	float: right;
}

#login{
	position: relative;
	float: right;
	text-decoration: none;
}

#logInImg{
	width: 20px;
}

