body {
	font-size: 16px;
	color: solid black;
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
}

.container{
	padding-top: 10px;
}
/*Header*/
.navbar-brand a{
	color: white;
	text-decoration: none;
}

.navbar-header{
	border-bottom: 2px solid black;
	background-color: #20639b;
}

.dropdown {
	position: relative;
	float: right;
}

.btn-header{
	background-color: #878787;
	border: 2px solid black;
	color: white;
	font-size: 150%;
	text-align: center;
}

#sbar{
	position: relative;
	float: right;
}

#login{
	position: relative;
	float: right;
	text-decoration: none;
	color: white;
}

#login:hover{
	text-decoration: underline;
}

#logInImg{
	width: 20px;
}



